@model IEnumerable<ClaimsAndComplaints.Models.ReclaimResponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reclaim.detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reclaim.detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdReclaimResponse }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdReclaimResponse }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdReclaimResponse })
        </td>
    </tr>
}

</table>
