@model ClaimsAndComplaints.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            Nombre de Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cedula/Pasaporte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNo)
        </dd>

        <dt>
            Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Fecha de Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEmployee }) |
    @Html.ActionLink("Ir atras", "Index")
</p>
