@model IEnumerable<ClaimsAndComplaints.Models.ComplaintType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar tipo de queja", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdComplaintType }) |
            @Html.ActionLink("Ver", "Details", new { id=item.IdComplaintType }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdComplaintType })
        </td>
    </tr>
}

</table>
