@model ClaimsAndComplaints.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Esta seguro de borrar este Cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cedula/Pasaporte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNo)
        </dd>

        <dt>
            Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Correo Electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Ir atras", "Index")
        </div>
    }
</div>
