<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clientes", "Index", "Clients")</li>
                    <li>@Html.ActionLink("Departamentos", "Index", "Departments")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Employees")</li>
                    <li>@Html.ActionLink("Tipo de Quejas", "Index", "ComplaintTypes")</li>
                    <li>@Html.ActionLink("Tipos de Reclamos", "Index", "ReclaimTypes")</li>
                    <li>@Html.ActionLink("Quejas", "Index", "Complaints")</li>
                    <li>@Html.ActionLink("Reclamos", "Index", "Reclaims")</li>
                    <li>@Html.ActionLink("Respuesta de Quejas", "Index", "ComplaintResponses")</li>
                    <li>@Html.ActionLink("Respuesta de Reclamos", "Index", "ReclaimResponses")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Santo Domingo Studios</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
