@model ClaimsAndComplaints.Models.Complaint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            Tipo de Queja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintType.Name)
        </dd>

        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            Fecha de Creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            Detalle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdComplaint }) |
    @Html.ActionLink("Ir atras", "Index")
</p>
